@model TwitterCodeChallenge.Models.RegisterViewModel
@{
    ViewBag.Title = "Register a regular user";
}

<h2>@ViewBag.Title</h2>

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
<div class="alert alert-success">
    @ViewBag.SuccessMessage
</div>
}

@using (Html.BeginForm("DeleteUser", "Account", FormMethod.Post, new { @class = "form-horizontal", id = "deleteForm" }))
{
    @Html.AntiForgeryToken()
}

@using (Html.BeginForm("RegisterRegularUser", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

<h2>Delete a user</h2>

<table>
        @foreach (var user in ViewBag.RegularUsers)
        {
         <tr>
            <td>@user.UserName</td>
             <td><a href="javascript: deleteUser('@user.Id')">Delete User</a></td>
        </tr>
        }
</table>

        @section Scripts {

            <script>
                var deleteUser = function (id) {
                    
                    if(confirm("¿Are you sure you want to delete this user?"))
                        $("#deleteForm").attr("action", $("#deleteForm").attr("action") + "?id=" + id).submit();

                }
            </script>


            @Scripts.Render("~/bundles/jqueryval")
        }
